<div class="adminlist">
    <div class="employees-header">
        <playerinformation :playerName="playerInfo.name" :playerJob="formattedJob " :playerPP="playerInfo.pp">
        </playerinformation>
        <div class="employees-input-container">
            <div class="employees-input-wrapper">
                <inlinesvg src="./assets/svg/search-icon.svg" class="employees-search-icon"></inlinesvg>
                <input type="text" placeholder="Search any job....">
            </div>
        </div>
        <div @click="setAdminActivePage('createmenu')" class="header-button">
            <inlinesvg src="./assets/svg/createnewjob-icon.svg"></inlinesvg>
            <p>{{locales.create_job}}</p>
        </div>
    </div>
    <div class="seperator"> </div>
    <div class="employee-list-container">
        <div class="employee-list-header">
            <h1>{{locales.job_lists}}</h1>
        </div>
        <div class="employees-list no-scrollbar">
            <div class="employee" v-for="company in companies">


                <img src="./assets/svg/job-icon.svg">

                <p class="employee-name">{{company.companylabel}}</p>
                <div class="seperator"></div>

                <div class="employee-other-info">
                    <inlinesvg src="./assets/svg/date-icon.svg"></inlinesvg>
                    <p>{{SecondsToDate(company.creationdate)}}</p>
                </div>
                <div class="employee-other-info">
                    <inlinesvg src="./assets/svg/total-employees-container.svg"></inlinesvg>
                    <p>{{company.employees.length}} {{locales.employee}}</p>
                </div>
                <div class="seperator"></div>
                <div @click="setAdminSelectedBusinessName(company.company); setAdminActivePage('jobdetails')"  class="header-button"  >
                    <p>{{locales.details}}</p>
                </div>
            </div>
        </div>

    </div>
</div>