<div class="inventory">
    <div class="employees-header">
        <playerinformation :theme="companyData.theme" :playerName="playerInfo.name" :playerJob="formattedJob " :playerPP="playerInfo.pp"></playerinformation>
        <div class="employees-input-container">
            <!-- <div class="employees-input-wrapper">
                <inlinesvg src="./assets/svg/search-icon.svg" class="employees-search-icon"></inlinesvg>
                <input type="text" placeholder="Search any item...." />
            </div> -->
        </div>
        <div @click="ToggleAction" class="disable-actions-button" :class="{enabled:companyData.inventoryDisabled==1}">
            <p>{{companyData.inventoryDisabled == 1 ? locales.enable_actions : locales.disable_actions}}</p>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="inventory-container">
        <div class="company-inventory">
            <h1 class="inventory-header-text">{{locales.company_inventory}}</h1>
            <div class="inventory-box no-scrollbar companyInventoryDrop">
                <div
                    class="inventory-slot companyInventorySlot"
                    v-if="companyInventory"
                    v-for="i in 50"
                    :key="i"
                    :data-name="companyInventory[i] ? companyInventory[i] && companyInventory[i].name : ''"
                    :data-amount="companyInventory[i] ? companyInventory[i] && companyInventory[i].amount : ''"
                    :data-label="companyInventory[i] ? companyInventory[i] && companyInventory[i].label : ''"
                    :class="{'item-nodrag' : companyInventory[i] == undefined}"
                    :data-slot="i"
                >
                    <template v-if=" companyInventory[i]">
                        <img
                            v-if=" companyInventory[i].name"
                            class="h-[50%]"
                            :src="'' + setItemImagesFolder + '/' + companyInventory[i].name + '.png'"
                        />
                        <p v-if=" companyInventory[i].amount" class="inventory-item-amount">x{{companyInventory[i].amount}}</p>
                        <div v-if=" companyInventory[i].label" class="inventory-item-name">{{companyInventory[i].label}}</div>
                    </template>
                </div>
            </div>
        </div>
        <div class="amount-input-container">
            <input type="text" class="inventory-amount-input" v-model="inventoryCount" @input="checkInput" :placeholder="locales.amount" />
        </div>
        <div class="player-inventory">
            <h1 class="inventory-header-text">{{locales.player_inventory}}</h1>
            <div class="inventory-box no-scrollbar mainInventoryDrop">
                <div
                    v-if="playerInventory"
                    class="inventory-slot mainInventorySlot"
                    v-for="i in 50"
                    :key="i"
                    :data-name="playerInventory[i] ? playerInventory[i] && playerInventory[i].name : ''"
                    :data-amount="playerInventory[i] ? playerInventory[i] && playerInventory[i].amount : ''"
                    :data-label="playerInventory[i] ? playerInventory[i] && playerInventory[i].label : ''"
                    :class="{'item-nodrag' : playerInventory[i] == undefined}"
                    :data-slot="i"
                >
                    <template v-if="i==1 || playerInventory[i]">
                        <img
                            v-if="playerInventory[i] && playerInventory[i].name"
                            class="h-[50%]"
                            :src="'' + setItemImagesFolder + '/' + playerInventory[i].name + '.png'"
                        />
                        <p v-if="playerInventory[i] && playerInventory[i].amount" class="inventory-item-amount">x{{playerInventory[i].amount}}</p>
                        <div v-if="playerInventory[i] && playerInventory[i].label" class="inventory-item-name">{{playerInventory[i].label}}</div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
