.ranks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
}


.rank-create-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  z-index: 3;
}

.rank-create-modal-header {
  color: #FFF;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 143.836%;
  /* 2.15756rem */
}

.rank-create-modal-container {
  width: 24.875rem;
  border-radius: 0.9375rem;
  background: rgba(117, 183, 255, 0.30);
  background: color(display-p3 0.5167 0.71 1 / 0.30);
  height: 26.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 1.5rem 0;
  backdrop-filter: blur(0.3125rem);
  align-items: center;
}

.rank-create-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .1rem;
}

.rank-create-name-text {
  color: rgba(255, 255, 255, 0.59);
  color: color(display-p3 1 1 1 / 0.59);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 0.9rem;
  font-style: normal;
  line-height: normal;
  font-weight: 600;

}

.rank-create-label-text {
  color: rgba(255, 255, 255, 0.59);
  color: color(display-p3 1 1 1 / 0.59);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 0.85rem;
  font-style: normal;
  line-height: normal;
}

.rank-create-level-text {
  color: rgba(255, 255, 255, 0.59);
  color: color(display-p3 1 1 1 / 0.59);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 0.8rem;
  font-style: normal;
  line-height: normal;
}

.rank-create-modal-inputs {
  display: flex;
  flex-direction: column;
  row-gap: .35rem;
  align-items: center;
}

.rank-create-modal-input {
  appearance: none;
  width: 15.625rem;
  height: 2.5rem;
  outline: none;
  border-radius: 0.625rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.22);
  border: 0.125rem solid color(display-p3 0 0 0 / 0.22);
  background: rgba(0, 0, 0, 0.53);
  background: color(display-p3 0 0 0 / 0.53);
  padding: 0 1rem;
  color: rgba(255, 255, 255, 1);
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rank-create-info{
  color: rgba(255, 255, 255, 0.47);
color: color(display-p3 1 1 1 / 0.47);
leading-trim: both;
text-edge: cap;
font-family: SF Pro Rounded;
font-size: 0.625rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.rank-create-modal-input::placeholder {
  color: rgba(255, 255, 255, 0.47);
  color: color(display-p3 1 1 1 / 0.47);
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.yellow circle {
  stroke: #F68D45!important;
}

.purple circle {
  stroke: #9F50F0!important;
}

.red circle{
  stroke: #FB444D!important;
  
}  
.black circle{
  stroke: #000!important;
  
}  

.green circle{
  stroke: #026E00!important;
  
}  