<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.global.js"></script>
    <script src="./vuex.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="./components/employees/index.css" />
    <link rel="stylesheet" href="./components/playerinformation/index.css" />
    <link rel="stylesheet" href="./components/employeedetails/index.css" />
    <link rel="stylesheet" href="./components/inventory/index.css" />
    <link rel="stylesheet" href="./components/ranks/index.css" />
    <link rel="stylesheet" href="./components/rankdetails/index.css" />
    <link rel="stylesheet" href="./components/vault/index.css" />
    <link rel="stylesheet" href="./components/outfit/index.css" />
    <link rel="stylesheet" href="./components/logs/index.css" />
    <link rel="stylesheet" href="./components/overall/index.css" />

    <link rel="stylesheet" href="./components/adminlist/index.css" />
    <link rel="stylesheet" href="./components/createmenu/index.css" />
    <link rel="stylesheet" href="./components/jobdetails/index.css" />


    <link rel="stylesheet" href="./responsive.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</head>

<body>
    <div id="app">
        <!-- <img src="./assets/images/overlay.png" class="overlay"> -->
        <div v-if="activeMenu == 'main'" class="container">

            <div class="wrapper">
                <div class="notification-container">
                    <div class="fade" :class="{[companyData.theme]:true}" v-for="notification in notifications">
                        {{notification.text}}
                        <img class="notify-icon" src="./assets/svg/notify-icon.svg">
                    </div>
                </div>
                <div class="header">
                    <h1>{{companyData?.companylabel?.toUpperCase()}}</h1>
                    <p>{{formatTime}}</p>
                    <span @click="close">
                        <div>x</div>
                    </span>
                </div>
                <div class="seperator"></div>
                <div class="main">
                    <div class="nav">
                        <div v-if="this.companyData.pageaccess.includes('employees')"
                            @click="setActivePage('employees')" class="nav-item"
                            :class="{active : activePage == 'employees' || activePage == 'employeedetails', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'employees' || activePage == 'employees'" src="./assets/svg/employee-icon-white.svg">
                            </inlinesvg>
                            <inlinesvg v-else src="./assets/svg/employee-icon.svg"></inlinesvg>
                        </div>
                        <div v-if="this.companyData.pageaccess.includes('ranks')" @click="setActivePage('ranks')"
                            class="nav-item" :class="{active : activePage == 'ranks' || activePage == 'rankdetails', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'ranks' || activePage == 'rankdetails'" src="./assets/svg/ranks-icon-white.svg"></inlinesvg>
                            <inlinesvg v-else src="./assets/svg/ranks-icon.svg"></inlinesvg>
                        </div>
                        <div v-if="this.companyData.pageaccess.includes('vault')" @click="setActivePage('vault')"
                            class="nav-item" :class="{active : activePage == 'vault', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'vault'" src="./assets/svg/vault-icon-white.svg"></inlinesvg>
                            <inlinesvg v-else src="./assets/svg/vault-icon.svg"></inlinesvg>
                        </div>
                        <div v-if="this.companyData.pageaccess.includes('inventory')"
                            @click="setActivePage('inventory')" class="nav-item"
                            :class="{active : activePage == 'inventory', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'inventory'" src="./assets/svg/inventory-icon-white.svg">
                            </inlinesvg>
                            <inlinesvg v-else src="./assets/svg/inventory-icon.svg"></inlinesvg>
                        </div>
                        <div v-if="this.companyData.pageaccess.includes('outfit')" @click="setActivePage('outfit')"
                            class="nav-item" :class="{active : activePage == 'outfit', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'outfit'" src="./assets/svg/outfit-icon-white.svg">
                            </inlinesvg>
                            <inlinesvg v-else src="./assets/svg/outfit-icon.svg"></inlinesvg>
                        </div>
                        <div @click="setActivePage('logs')" class="nav-item"
                            :class="{active : activePage == 'logs', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'logs'" src="./assets/svg/logs-icon-white.svg"></inlinesvg>
                            <inlinesvg v-else src="./assets/svg/logs-icon.svg"></inlinesvg>
                        </div>
                        <div @click="setActivePage('overall')" class="nav-item"
                            :class="{active : activePage == 'overall', [companyData.theme]:true}">
                            <inlinesvg v-if="activePage == 'overall'" src="./assets/svg/overall-icon-white.svg">
                            </inlinesvg>
                            <inlinesvg v-else src="./assets/svg/overall-icon.svg"></inlinesvg>
                        </div>
                    </div>
                    <div class="actions-page">
                        <img class="container-overlay" :src="bg" />
                        <img class="job-logo" :src="companyData.logo" />

                        <component :key="activePage" :is="activePage" v-bind="{
                            setCurrentAction,
                            currentAction,
                            setActivePage,
                            activeMenu,
                            setAdminActivePage,

                        }"></component>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="activeMenu == 'admin'" class="container admin">
            <div class="wrapper">
                <div class="notification-container">
                    <div class="fade" v-for="notification in notifications">
                        {{notification.text}}
                        <img class="notify-icon" src="./assets/svg/notify-icon.svg">

                    </div>
                </div>
                <div class="header">
                    <h1>{{locales.admin_panel}}</h1>
                    <p>{{formatTime}}</p>
                    <span @click="close">
                        <div>x</div>
                    </span>
                </div>
                <div class="main">
                    <div class="nav">
                        <div @click="setAdminActivePage('adminlist')" class="nav-item"
                            :class="{active : adminActivePage == 'adminlist'}">
                            <inlinesvg v-if="adminActivePage == 'adminlist'" src="./assets/svg/overall-icon-white.svg">
                            </inlinesvg>
                            <inlinesvg v-else src="./assets/svg/overall-icon.svg"></inlinesvg>
                        </div>
                        <div @click="setAdminActivePage('employees')" class="nav-item"
                            :class="{active : adminActivePage == 'employees'}">
                            <inlinesvg v-if="adminActivePage == 'employees'" src="./assets/svg/employee-icon-white.svg">
                            </inlinesvg>
                            <inlinesvg v-else src="./assets/svg/employee-icon.svg"></inlinesvg>
                        </div>

                      
                    </div>
                    <div class="actions-page">
                        <component :key="adminActivePage" :is="adminActivePage" v-bind="{
                            setAdminActivePage,
                            activeMenu,
                            setActivePage
                        }"></component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="module" src="./index.js"></script>

</html>
