.logs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
}

.company-logs-header {
  padding: 0 2rem;
  color: #FFF;
  color: color(display-p3 1 1 1);
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 1.07538rem;
  font-style: normal;
  font-weight: 600;
  line-height: 143.836%;
  /* 1.54675rem */
}

.company-logs-container {

  width: 100%;
  height: 34.375rem;
  padding: 0 2rem;
  padding-bottom: 1.5rem;
}




.company-logs-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0.625rem;
  border: 0.125rem solid #75B7FF;
  border: 0.125rem solid color(display-p3 0.5167 0.71 1);
  background: rgba(117, 183, 255, 0.10);
  background: color(display-p3 0.5176 0.7098 1 / 0.10);
  overflow: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.company-logs-wrapper.red {
  border: 0.1433rem solid #fb444d64;
  background: #fb444d2c;
}
.company-logs-wrapper.yellow {
  border: 0.1433rem solid #f68c457a;
  background: #f68c452f;
}
.company-logs-wrapper.purple {
  border: 0.1433rem solid #a050f055;
  background: #a050f025;
}
.company-logs-wrapper.black {
  border: 0.1433rem solid #00000064;
  background: #00000064;
}
.company-logs-wrapper.green {
  border: 0.1433rem solid #026E0064;
  background: #026E002c;
}

.company-log {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.company-log p {
  color: rgba(255, 255, 255, 0.60);
  color: color(display-p3 1 1 1 / 0.60);
  leading-trim: both;
  text-edge: cap;
  font-family: SF Pro Rounded;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}