<div class="logs">
    <div class="employees-header">
        <playerinformation :theme="companyData.theme" :playerName="playerInfo.name" :playerJob="formattedJob " :playerPP="playerInfo.pp">
        </playerinformation>
        <div class="employees-input-container">
            <div class="employees-input-wrapper">
                <inlinesvg src="./assets/svg/search-icon.svg" class="employees-search-icon"></inlinesvg>
                <input v-model="filteredLogs" type="text" :placeholder="locales.search_any_log">
            </div>
        </div>
        <div class="header-button" :class="{[companyData.theme]:true}" @click="ClearLogs">
            <p>{{locales.clear_logs}}</p>
        </div>
    </div>
    <div class="seperator"></div>
    <p class="company-logs-header">{{locales.company_logs}}</p>
    <div class="company-logs-container"  >
        <div class="company-logs-wrapper no-scrollbar" :class="{[companyData.theme]:true}" >
            <div v-for="log in getFilteredLogs" class="company-log">
                <p>{{log.message}}</p>
                <p>[{{SecondsToDate(log.date)}}]</p>
            </div>
        </div>
    </div>
</div>