<div class="employees" v-if="ranks.length > 0 ">
    <div class="employees-header">
        <playerinformation  :playerName="playerInfo.name" :playerJob="formattedJob " :playerPP="playerInfo.pp" />

        <h2>{{getAdminSelectedCompany.company}}</h2>
        <div class="header-button-wrapper">
            <div v-if="editingBusiness" class="header-button" @click="setEditingBusiness(false)">
                <p>{{locales.cancel}}</p>
            </div>
            <div @click="SaveChanges();setEditingBusiness(!editingBusiness)" class="header-button"
                :class="{yellow: !editingBusiness}">
                <p v-if="editingBusiness">{{locales.save_changes}}</p>
                <p v-else>{{locales.edit_business}}</p>
            </div>
        </div>
    </div>
    <div class="seperator"></div>
    <div class="overall-container ">
        <div class="overall-wrapper business-overall-wrapper">
            <h1 class="overall-container-header">{{locales.business_overall}}</h1>
            <div class="business-overall ">
                <template v-if="editingBusiness">
                    <!-- <div style="cursor: pointer;" class="business-overall-text-container recruit-input-container" @click="selectBusiness=!selectBusiness">
                        <h1>Select The Business</h1>
                        <div class="business-overall-box">
                            <inlinesvg src="./assets/svg/select-business-icon.svg"></inlinesvg>
                            <p>Los Santos Police Department</p>
                        </div>
                        <ul v-if="selectBusiness" style="position: absolute; left: 50%; bottom: -1%;">
                            <div class="no-scrollbar">
                                <li>Test</li>
                                <li>Test</li>
                                <li>Test</li>
                                <li>Test</li>
                                <li>Test</li>
                                <li>Test</li>
                                <li>Test</li>
    
    
                            </div>
                        </ul>
                    </div> -->
                    <div class="business-overall-text-container">
                        <h1> {{locales.business_location}}</h1>
                        <div class="business-overall-box">
                            <inlinesvg @click="copyCoords" src="./assets/svg/location-icon.svg"></inlinesvg>
                            <input v-model="coords" type="text" placeholder="vector3()">
                        </div>
                    </div>
                    <div class="business-overall-text-container">
                        <h1>{{locales.business_page_access}}</h1>
                        <div class="business-overall-box">
                            <inlinesvg src="./assets/svg/access-icon.svg"></inlinesvg>
                            <div class="business-page-access">
                                <p @click="toggleBusinessAccessPage('employees')"
                                    :class="{active : businessAccessPage.includes('employees')}">{{locales.employee}}
                                </p>
                                <p @click="toggleBusinessAccessPage('ranks')"
                                    :class="{active : businessAccessPage.includes('ranks')}">{{locales.ranks}}</p>
                                <p @click="toggleBusinessAccessPage('vault')"
                                    :class="{active : businessAccessPage.includes('vault')}">{{locales.vault}}</p>
                                <p @click="toggleBusinessAccessPage('inventory')"
                                    :class="{active : businessAccessPage.includes('inventory')}">{{locales.inventory}}
                                </p>
                                <p @click="toggleBusinessAccessPage('outfit')"
                                    :class="{active : businessAccessPage.includes('outfit')}">{{locales.clothes}}</p>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="business-overall-text-container">
                        <h1>{{locales.business_name}}</h1>
                        <div class="business-overall-box">
                            <inlinesvg src="./assets/svg/business-name-icon.svg"></inlinesvg>
                            <p>{{getAdminSelectedCompany.companylabel}}</p>
                        </div>
                    </div>
                    <!-- <div class="business-overall-text-container">
                        <h1>Business Type</h1>
                        <div class="business-overall-box">
                            <inlinesvg src="./assets/svg/business-name-icon.svg"></inlinesvg>
                            <p>State</p>
                        </div>
                    </div> -->
                    <div class="business-overall-text-container">
                        <h1>{{locales.business_creation_date}}</h1>
                        <div class="business-overall-box">
                            <inlinesvg src="./assets/svg/date-icon.svg"></inlinesvg>
                            <p>{{SecondsToDate(getAdminSelectedCompany.creationdate)}} </p>
                        </div>
                    </div>
                    <div class="business-overall-text-container">
                        <h1>{{locales.business_total_employees}}</h1>
                        <div class="business-overall-box">

                            <inlinesvg src="./assets/svg/total-employees-container.svg"></inlinesvg>
                            <p>{{getAdminSelectedCompany.employees.length}}</p>
                        </div>
                    </div>
                    <div class="business-overall-text-container">
                        <h1>{{locales.business_total_ranks}}</h1>
                        <div class="business-overall-box">

                            <inlinesvg src="./assets/svg/total-ranks-icon.svg"></inlinesvg>
                            <p>{{getRankAmount}}</p>
                        </div>
                    </div>
                    <div class="business-overall-text-container">
                        <h1>{{locales.business_total_items}}</h1>
                        <div class="business-overall-box">

                            <inlinesvg src="./assets/svg/total-item-icon.svg"></inlinesvg>
                            <p>{{inventory.length}}</p>
                        </div>
                    </div>

                    <div class="business-overall-text-container">
                        <h1>{{locales.business_boss}}</h1>
                        <div class="business-overall-box">

                            <inlinesvg src="./assets/svg/star-icon.svg"></inlinesvg>
                            <p>{{getBoss}}</p>
                        </div>
                    </div>
                </template>

            </div>
        </div>
        <div class="overall-wrapper company-money-details-wrapper">
            <h1 class="overall-container-header">{{locales.company_money_details}}</h1>
            <div class="company-money-details">
                <div class="card-container" :style="{backgroundImage: 'url('+getCardBG+')'}" style="height:12.8125rem">
                    <img class="card-logo" src="./assets/images/job-logo.png" />
                    <p class="card-job-text">{{getAdminSelectedCompany.companylabel}}</p>
                    <p  class="vault-company-money-text">$ {{vault}}</p>


                </div>
                <div class="business-overall-text-container">
                    <h1>Business Income</h1>
                    <div class="business-income-box">
                        <inlinesvg src="./assets/svg/income-icon.svg"></inlinesvg>
                        <p>$ {{getAdminSelectedCompany.vault_income}}</p>

                    </div>
                </div>
                <div class="business-overall-text-container">
                    <h1>Business Expense</h1>
                    <div class="business-expense-box">
                        <inlinesvg src="./assets/svg/expense-icon.svg"></inlinesvg>
                        <p>$ {{getAdminSelectedCompany.vault_expense}}</p>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="overall-wrapper business-adjustments-wrapper">
            <h1 class="overall-container-header">{{locales.business_adjustments}}</h1>
            <div class="business-adjustments" >
                <div class="business-logo-container">
                    <img :src="newLogo || getAdminSelectedCompany.logo">
                </div>
                <div class="business-adjustments-link-container">
                    <h2>{{locales.by_link}}</h2>
                    <div class="business-adjustments-input-holder">
                        <inlinesvg class="link-icon" src="./assets/svg/link-icon.svg"></inlinesvg>
                        <input v-model="newLogo" type="text" :placeholder="locales.insert_image">
                    </div>

                </div>
                <div @click="UploadNewLogo" class="upload-button">{{locales.upload}}</div>
                <p class="recommended-size" v-html="locales.recommended_size"></p>
                <div class="theme-buttons-container">
                    <h1>{{locales.change_theme}}</h1>
                    <div class="theme-buttons">
                        <div class="theme-button black" :class="{selected : getAdminSelectedCompany.theme == 'black'}" @click="ChangeTheme('white')"></div>
                        <div class="theme-button blue" :class="{selected : getAdminSelectedCompany.theme == 'blue'}" @click="ChangeTheme('blue')"></div>
                        <div class="theme-button red" :class="{selected : getAdminSelectedCompany.theme == 'red'}" @click="ChangeTheme('red')"></div>
                        <div class="theme-button purple" :class="{selected : getAdminSelectedCompany.theme == 'purple'}" @click="ChangeTheme('purple')"></div>
                        <div class="theme-button yellow" :class="{selected : getAdminSelectedCompany.theme == 'yellow'}" @click="ChangeTheme('yellow')"></div>
                        <div class="theme-button green" :class="{selected : getAdminSelectedCompany.theme == 'green'}" @click="ChangeTheme('green')"></div>

                    </div>
                </div>

                <div @click="DeleteBusiness" class="delete-business-button">
                    {{locales.delete_business}}
                </div>
            </div>
        </div>
    </div>
</div>